body {
  background: transparent !important;
}
body div#ascrail2000,
body div#ascrail2000-hr {
  background: transparent !important;
}
body div#ascrail2000 > div,
body div#ascrail2000-hr > div {
  background: transparent !important;
}
.locker td[colspan] {
  width: 100% !important;
  margin: 1rem 0 !important;
  position: relative !important;
  display: inline-block !important;
}
.locker td[colspan] select {
  width: 97% !important;
  padding: .3rem 0 !important;
  position: relative !important;
  display: inline-block !important;
}
.postal_code input {
  width: 91% !important;
}
a {
  color: #58bff6;
  text-decoration: none;
}
a:hover {
  color: #aaaaaa;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear-fix {
  clear: both;
}
.logo-active {
  fill: #44aacc !important;
}
#formWrapper {
  /*background: rgba(0,0,0,.2);*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease;
}
.darken-bg {
  background: rgba(0, 0, 0, 0.5) !important;
  transition: all .3s ease;
}
div#form {
  position: absolute;
  width: 360px;
  height: 320px;
  height: auto;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  padding: 10px 20px;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -200px;
}
div.form-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
input {
  transition: all .2s ease;
}
input.form-style {
  color: #8a8a8a;
  display: block;
  width: 90%;
  height: 44px;
  padding: 5px 5%;
  border: 1px solid #cccccc;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}
div.form-item .form-style:focus {
  outline: none;
  border: 1px solid #58bff6;
  color: #58bff6;
}
div.form-item p.formLabel {
  position: absolute;
  left: 26px;
  top: 16px;
  transition: all .4s ease;
  color: #bbbbbb;
}
.formTop {
  top: -22px !important;
  left: 26px;
  background-color: white;
  padding: 0 5px;
  font-size: 14px;
  color: #58bff6 !important;
}
.formStatus {
  color: #8a8a8a !important;
}
input[type="submit"].login {
  float: right;
  width: 112px;
  height: 50px!important;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 29px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #186ea2;
  border: 1px solid #186ea2;
  border: none;
  color: white;
  font-weight: bold;
}
input[type="submit"].login:hover {
  background-color: white;
  border: 1px solid #55b1df;
  color: #55b1df;
  cursor: pointer;
}
input[type="submit"].login:focus {
  outline: none;
}
#team {
  padding: 6rem 0 !important;
}
#contact {
  padding-top: 4 !important;
}
#comprass {
  padding: 0 !important;
}
.questions #comprass,
.conditions #comprass {
  padding-top: 6rem !important;
}
.text-over-video {
  bottom: 4rem !important;
}
.header-text {
  padding-bottom: 0 !important;
}
.header-text h1 {
  position: relative !important;
  padding-bottom: 30px !important;
}
.header-text p {
  padding-top: 0 !important;
  padding-bottom: 20px !important;
}
.columns label,
.columns .txtTituloJ {
  color: white !important;
}
.contact-wrap span,
.contact-wrap label,
.contact-wrap small {
  color: white !important;
  display: inline-block !important;
}
.sixteen .header-text p,
.sixteen .header-text h1 {
  color: white !important;
}
.sixteen .header-text h1 {
  font-weight: bold !important;
}
.sixteen .header-text p {
  font-size: 1.3rem !important;
}
#contact .sixteen .header-text p,
#contact .sixteen .header-text h1 {
  color: white !important;
}
#contact .sixteen .header-text h1 {
  font-weight: bold !important;
}
#contact .sixteen .header-text p {
  font-size: 1.3rem !important;
}
.eight .header-text p,
.eight .header-text h1 {
  color: white !important;
}
.eight .header-text h1 {
  font-weight: bold !important;
}
.eight .header-text p {
  font-size: 1.3rem;
}
.register table {
  width: 100% !important;
}
.register table textarea {
  min-height: 200px !important;
}
.register input[type="button"] {
  margin: .7rem !important;
  padding: .4rem 1rem !important;
}
.register input[type="text"] {
  margin-top: .5rem;
  margin-right: 12rem;
  margin-bottom: .5rem;
  height: auto !important;
  min-height: 20px !important;
  padding-right: 0 !important;
  padding-top: .47rem !important;
  padding-bottom: .31rem !important;
}
.d_none {
  display: none !important;
}
.txtTextoNJ {
  width: 100%;
  color: white;
  padding: 2% 0%;
  font-size: 15px;
  text-align: center;
  background-color: #186ea2;
}
.txtTituloJ {
  line-height: 3rem !important;
  font-size: 1.2rem !important;
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  body.register .container {
    width: 100% !important;
    display: flex !important;
    justify-content: center;
  }
  body.register .container form {
    display: flex !important;
    max-width: 100% !important;
    flex-basis: -moz-available !important;
  }
  body.register .container form table {
    display: flex !important;
    max-width: 100% !important;
    flex-basis: -moz-available !important;
  }
  body.register .container form table tbody {
    display: flex !important;
    max-width: 100% !important;
    flex-basis: -moz-available !important;
    -ms-flex-flow: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-flow: column !important;
  }
  body.register .container form table tbody tr {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-flow: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-flow: column !important;
  }
  body.register .container form table tbody tr td {
    width: 92% !important;
    margin: 0 1rem !important;
    position: relative !important;
  }
  body.register .container form table tbody tr td div strong {
    padding: 0 2rem !important;
  }
  body.register .container form table tbody tr td input[value="Ciudad"] {
    width: 96% !important;
    margin: 1rem 0 !important;
  }
}
